body{
    width: 100vw;
}

main h1{
    text-align: center;
    padding: 5px;
}

#form{
    width: 350px;
    height: 400px;
    margin: auto;
    text-align: center;

    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

input, label{
    flex-basis: 150px;
    margin: 10px;
}