#form{
    width: 400px;
    margin: auto;
    text-align: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

input, label{
    flex-basis: 150px;
    margin: 10px;
}