@charset "UTF-8";
@font-face {
    font-family: 'fonte1';
    src: url(../fontes/upheavtt.ttf); 
}

*{
    margin: 0;
}

:root{
    --cor0: white;
    --cor1: grey;
    --cor2: lightgrey;
    --cor3: rgb(163, 158, 158);
    --cor4: #D73125;
    --cor5: #913530;
    --cor6: #663633;
    --cor7: #C80700;
    --cor8: #E60028;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-color: var(--cor7);
    padding: 0px;
}

header h1{
    font-size: 100px;
    text-transform: uppercase;
    padding: 50px 50px 25px 50px;
    font-family: 'fonte1', Arial, Helvetica, sans-serif;
    
}

header p{
    font-size: 25px;
    padding: 0px 0px 10px 0px;
}

header nav{
    font-size: 15px;
    text-align: left;
    padding: 10px 10px 10px 0px;
}

header nav a{
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    transition-duration: 1s;
}

header nav a:hover{
    background-color: var(--cor8);
}

main{
    background-color: #332B2B;
    padding: 10px;
}

caption{
    border: 1px solid black;
    background-color: var(--cor1);
    color: var(--cor0);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.tabela{
    overflow-x: auto;
}

table{
    width: 97vw;
    margin: auto;
    border-collapse: collapse;
    border-radius: 5px;
}

th, td{ 
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    
}

table a{
    text-decoration: none;
    color: black;
    transition-duration: 1s;
}

table a::after{
    content: " \1F517";
}

table a:hover{
    text-decoration: underline;
}

th{
    font-weight: bolder;
}

td{
    font-weight: bold;
}

thead th{
    background-color: var(--cor2);
}

tbody th{
    background-color: var(--cor3);
}

#edicao, #terceiroquarto{
    background-color: var(--cor6);
}

#modalidade, #vice{
    background-color: var(--cor5);
}

#data, #titulo{
    background-color: var(--cor4);
}

#classificacao, #nome{
    background-color: var(--cor7);
}

aside{
    margin: 10px;
    color: white;
}
