@charset "UTF-8";
@font-face {
    font-family: 'fonte1';
    src: url(../fontes/upheavtt.ttf); 
}

*{
    margin: 0;
}

:root{
    --cor0: white;
    --cor1: grey;
    --cor2: lightgrey;
    --cor3: rgb(163, 158, 158);
    --cor4: #D73125;
    --cor5: #913530;
    --cor6: #663633;
    --cor7: #C80700;
    --cor8: #E60028;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#dheader{
    text-align: center;
    background-color: var(--cor7);
    padding: 0px;
}

#dheader h1{
    font-size: 75px;
    text-transform: uppercase;
    padding: 40px 50px 20px 50px;
    font-family: 'fonte1', Arial, Helvetica, sans-serif;
    
}

#dheader p{
    font-size: 25px;
    padding: 0px 0px 10px 0px;
}

#dheader nav{
    font-size: 15px;
    text-align: left;
    padding: 10px 10px 10px 0px;
}

#dheader nav a{
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    transition-duration: 1s;
}

#dheader nav a:hover{
    background-color: var(--cor8);
}
